.test{
    display: flex;
    flex-direction: column;
    margin-left: 380px;
    justify-content: center;
    margin-top: 50px;
}
.test_heading{
    color: white;
    margin-bottom: 20px;
}
.app {
    color: white;
    
    background-image: linear-gradient(to left top, #944572, #8b3f75, #803a78, #72377c, #63347f, #56347d, #49337a, #3c3276, #35326c, #2f3062, #2b2f57, #282d4c);
    width: 550px;
    height: 800px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
  }
  
  .score-section {
    display: flex;
    font-size: 24px;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* QUESTION/TIMER/LEFT SECTION */
  .question-section {
    width: 100%;
    position: relative;
  }
  
  .question-count {
    margin-bottom: 20px;
  }
  
  .question-count span {
    font-size: 28px;
  }
  
  .question-text {
    margin-bottom: 12px;
    font-size: 22px;
  }
  
  .timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
  }
  
  /* ANSWERS/RIGHT SECTION */
  .answer-section {
    width: 200px;
    height: 300px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .ans_btn {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #00ffff;
    cursor: pointer;
  }
  
  .correct {
    background-color: #2f922f;
  }
  
  .incorrect {
    background-color: #ff3333;
  }
  
  .ans_btn:hover {
    background-color: #00ffff;
    color: #000000;
    border: 1px solid #000000;
  }
  
  .ans_btn:focus {
    outline: none;
  }
  
  .ans_btn  {
    margin-right: 5px;
  }
  .next_btn{
    width: 90px;
    height: 45px;
    margin-top: 100px;
    background-color: transparent;
    outline: none;
    letter-spacing: 1.1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #00ffff;
    border: 2px solid #00ffff;
    cursor: pointer;
  }