.mid_all {
    display: flex;
    flex-direction: column;
    font-family: "Spartan", sans-serif;
    background-image: url("../assets/banner-bg.png");
    background-color: black;
    padding-top: 30px;
  }
  

  .getbtn {
    border: none;
    outline: none;
    margin-top: 30px;
    width: 190px;
    height: 70px;
    letter-spacing: 1.1px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #00ffff;
    background-color: transparent;
    border: 2px solid #00ffff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .getbtn:hover {
    transform: translateX(2em);
    border: 3px solid #00ffff;
  }
  

 
  .mid1_box_all {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
    }
    .mid1_box {
    width: 330px;
    height: 320px;
    background-color: rgb(15, 15, 15);
    border-radius: 3px;
    border: 3px solid black;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
    
  }
  .mid1_box:hover {
    border: 3px solid #00ffff;
  }
  .mid_box_heading {
    color: white;
    font-size: 20px;
    font-weight: 800;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .mid1_box_horizantal {
    height: 0px;
    border: 0.1px solid #00ffff;
    width: 16%;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .mid1_box > p {
    color: #00ffff;
    font-size: 13px;
    font-weight: 200;
    margin-left: 30px;
    margin-bottom: 30px;
    width: 80%;
    line-height: 25px;
  }
  
  .Linktag{
    text-decoration: none;
    color: white;
  }


  .footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }
  .footer_img{
    width: 85px;
    border-radius: 10px;
  }