@media all and (max-width: 956px) {
  .Footer3_container {
    flex-direction: column;
  }
}
@media all and (max-width: 700px) {
  .footer_container_left_row {
    justify-content: center;
  }
  .footer3_container_left > p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 20px;
  }
}
@media all and (max-width: 415px) {
  .footer_container_left_row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_container_left_row > p {
    font-size: 9px;
    text-align: center;
    line-height: 15px;
  }
  .footer_container_left_row > h6 {
    font-size: 8px;
    text-align: center;
    line-height: 15px;
  }
}
