@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

.footer1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer1_circle {
  border: 2px solid #00ffff;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aqua;
}

.footer1_vertical_line {

  margin-left: auto;
  margin-right: auto;
  transform: rotate(90deg);
  margin-bottom: 80px;
  width: 80px;
  border-top: 3px solid #00ffff;
}

.footer_end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.footer_end > h1 {
  margin-top: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 40px;
  font-family: "Spartan";
  text-transform: capitalize;
}
.footer_end > button {
  width: 180px;
  height: 60px;
  border: 2px solid #00ffff;
  outline: none;
  background: transparent;
  color: #00ffff;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Comfortaa";
  font-weight: 800;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.footer_end > button:hover {
  background-color: #00ffff;
  color: black;
  border: 1px solid white;
}

.contactus{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

/* icons */

.icon:hover:nth-child(2) {
  background: #1877f2;
  box-shadow: 0 0 20px #1877f2;
}

.icon:hover:nth-child(3) {
  background: #25d366;
  box-shadow: 0 0 20px #25d366;
}

.icon:hover:nth-child(4) {
  background: #1da1f2;
  box-shadow: 0 0 20px #1da1f2;
}

.icon i {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
svg circle {
  stroke-dasharray: 150;
  transition: all 0.8s;
}

.icon:hover svg circle {
  stroke-dashoffset: 220;
}

* {
  margin: 0;
  padding: 0;
}

.main_icons {
  margin-top: 20px;
  position: relative;
  left: 18.7%;
  transform: translate(-50%, -50%);
  justify-content: center;
  display: flex;
  cursor: pointer;
}
.icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50px;
  transition: all 0.8s;
}
.icon:hover {
  background: #e60073;
  box-shadow: 0 0 20px #e60073;
}

.mobile_icons {
  display: none;
  background-color: black;
  color: white;
  list-style: none;
  height: 50px;
}
.mobile_icons > li {
  text-decoration: none;
  padding: 0 20px;
  font-size: 25px;
}
.mobile_icons > li:nth-child(1):hover {
  color: blue;
}
.mobile_icons > li:nth-child(2):hover {
  color: rgb(211, 9, 70);
}
.mobile_icons > li:nth-child(3):hover {
  color: rgb(0, 255, 76);
}
.mobile_icons > li:nth-child(4):hover {
  color: rgb(0, 132, 255);
}